*{
    margin: 0%;
    padding: 0%;
}
.Footer-Box{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../Gallery/movieFooterWal.jpg');
    background-position: center;
    background-size: cover;
    opacity: black .5;
}